# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
ragatouille_env/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# RAGatouille specific
.ragatouille/

# Weights & Biases
wandb/

# OS specific
.DS_Store
Thumbs.db

# Large data files
*.zip
# *.pkl 